.form {
  width: 100%;
  display: grid;
  place-items: center;
}

.form input {
  width: 80%;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -1px rgb(133, 133, 133);
  padding: 10px;
  border-radius: 8px;
  margin-top: 50px;
  font-family: inherit;
}
